{% extends 'dashboard/layout.html' %}

{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block css %}
  {{ block.super }}
  {% render_bundle 'auth' 'css' %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  {% render_bundle 'auth' 'js' attrs='defer' %}
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block body %}
  <div class="body-effect-img"></div>
  <div class="position-relative container-fluid px-0">
    {% block content %}
      <div class="row min-vh-100 g-0">
        <div class="col-12 col-lg-5">
          <div class="bg-body-custom h-100">
            {% block form %}{% endblock %}
          </div>
        </div>
        <div class="col-12 col-lg-7 p-0">
          <div class="auth-creative-img position-relative size-100 overflow-hidden">
            {% block authAnim %}
              {% comment %} <img src="./assets/images/auth-creative.webp" alt="Image" class="img-fluid dash-img border rounded-4 position-relative z-2" /> {% endcomment %}
              <div class="circle-1 rounded-circle border border-secondary opacity-75 position-absolute top-50 start-50 translate-middle">
              </div>
              <div class="circle-2 rounded-circle border border-secondary opacity-25 position-absolute top-50 start-50 translate-middle">
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
