{% extends 'base.html' %}

{% block content %}
  <!-- HERO -->
  {% include 'pages/components/home/hero.html' %}
  {% comment %}
  {% endcomment %}
  <div class="section">
    {% include 'pages/components/home/flow.html' %}
    
  </div>

  <div class="section">
    {% include 'pages/components/home/mission.html' %}
    
  </div>
  
  <div class="section">
    {% include 'pages/components/home/cta.html' %}
    
  </div>

  <div class="section">
    <div class="r-container">
      {% include 'pages/components/home/usage.html' %}
    </div>
  </div>

  <div class="section">
    <div class="r-container">
      <div class="row row-cols-xl-2 row-cols-1 d-flex flex-md-row flex-column align-items-md-center">
        {% include 'pages/components/home/why-us.html' %}
      </div>
    </div>
  </div>

  <div class="section">
    <div class="r-container">
      {% include 'pages/components/home/fags.html' %}
    </div>
  </div>
{% endblock %}
