.sidebar-nav::-webkit-scrollbar {
  width: 6px !important;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px !important;
}

.sidebar-nav,
.layout-wrapper--content {
  overflow-y: auto;
}
