<div class="marquee-container reverse mb-3">
  <div class="marquee-content">
    <div class="marquee-item d-flex align-items-center justify-content-center">
      <h3>Upload Anywhere</h3>
    </div>
    <div class="marquee-item accent">
      <h3>.</h3>
    </div>

    <div class="marquee-item d-flex align-items-center justify-content-center">
      <h3>Secure Passkey</h3>
    </div>
    <div class="marquee-item accent">
      <h3>.</h3>
    </div>

    <div class="marquee-item d-flex align-items-center justify-content-center">
      <h3>No USB Needed</h3>
    </div>
    <div class="marquee-item accent">
      <h3>.</h3>
    </div>

    <div class="marquee-item d-flex align-items-center justify-content-center">
      <h3>Instant Printing</h3>
    </div>
    <div class="marquee-item accent">
      <h3>.</h3>
    </div>
  </div>
</div>

<div class="marquee-container">
  <div class="marquee-content">
    <div class="marquee-item accent d-flex align-items-center justify-content-center">
      <h3>Student Friendly</h3>
    </div>
    <div class="marquee-item">
      <h3>.</h3>
    </div>

    <div class="marquee-item accent d-flex align-items-center justify-content-center">
      <h3>Fast & Secure</h3>
    </div>
    <div class="marquee-item">
      <h3>.</h3>
    </div>

    <div class="marquee-item accent d-flex align-items-center justify-content-center">
      <h3>Print Anywhere</h3>
    </div>
    <div class="marquee-item">
      <h3>.</h3>
    </div>

    <div class="marquee-item accent d-flex align-items-center justify-content-center">
      <h3>Stress-Free Printing</h3>
    </div>
    <div class="marquee-item">
      <h3>.</h3>
    </div>
  </div>
</div>
