// @import "custom_bootstrap_vars";
// @import "~bootstrap/scss/bootstrap";
// @import "bootstrap-icons/font/bootstrap-icons.css";
// @import "styles.scss";
// @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
// project specific CSS goes here

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", "DM Sans", sans-serif;
}
