{% load webpack_static from webpack_loader %}

{% comment %} <footer>
  <div class="section pb-4">
    <div class="bg-footer">
      <img src="{% webpack_static 'images/image/favicon.png' %}" style="width: 100px; height: auto" class="img-fluid scrollanimation animated fadeInUp adr-5" alt="Print Service Logo" />
      <div class="d-flex flex-wrap gap-3 justify-content-center" style="max-width: 800px">
        <div class="title">
          <i class="rtmicon rtmicon-check icon-box"></i>
          <h6>Upload From Anywhere</h6>
        </div>
        <div class="title">
          <i class="rtmicon rtmicon-check icon-box"></i>
          <h6>Secure Passkey Access</h6>
        </div>
        <div class="title">
          <i class="rtmicon rtmicon-check icon-box"></i>
          <h6>No USB Required</h6>
        </div>
        <div class="title">
          <i class="rtmicon rtmicon-check icon-box"></i>
          <h6>Partnered Cybercafes</h6>
        </div>
        <div class="title">
          <i class="rtmicon rtmicon-check icon-box"></i>
          <h6>Fast & Stress-Free Printing</h6>
        </div>
      </div>
      <hr />
      <div class="d-flex flex-xl-row flex-column align-items-center justify-content-between w-100 gap-3 gap-md-0" style="max-width: 800px">
        <a href="{% url 'home' %}" class="link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
        <a href="{% url 'upload' %}" class="link {% if request.resolver_match.url_name == 'upload' %}active{% endif %}">Upload</a>
        <a href="{% url 'access' %}" class="link {% if request.resolver_match.url_name == 'access' %}active{% endif %}">Access</a>
        <a href="/news/" class="link {% if request.path == '/news/' %}active{% endif %}">News</a>
        <a href="" class="link">Contact</a>
      </div>
      <p class="accent-color-4">© 2026 CyberConnect. All Rights Reserved.</p>
      <div class="elipse footer"></div>
    </div>
  </div>
</footer> {% endcomment %}
<footer>
  <div class="at-footer-area mp-footer-style pt-120 pb-0 bg-neutral-950 changeless">
    <div class="container">
      <div class="row g-5 pb-45">
        <div class="col-lg-3 col-md-8">
          <div class="alt-footer-social-item w-75 pt-50">
            <ul>
              <li>
                <a href="#">
                  <div class="d-flex align-items-center gap-2">
                    <div class="icon-social">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="18"
                           height="18"
                           viewBox="0 0 18 18"
                           fill="none">
                        <path d="M12.4024 18V11.0344H14.7347L15.0838 8.3265H12.4024V6.59765C12.4024 5.81364 12.62 5.27934 13.7443 5.27934L15.1783 5.27867V2.85676C14.9302 2.82382 14.0791 2.75006 13.0888 2.75006C11.0213 2.75006 9.606 4.01198 9.606 6.32952V8.3265H7.2677V11.0344H9.606V18H1C0.44772 18 0 17.5523 0 17V1C0 0.44772 0.44772 0 1 0H17C17.5523 0 18 0.44772 18 1V17C18 17.5523 17.5523 18 17 18H12.4024Z" fill="currentColor" />
                      </svg>
                    </div>
                    Facebook
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="12"
                       height="10"
                       viewBox="0 0 12 10"
                       fill="none">
                    <path d="M7.60201e-05 6.26559L0 2.03894e-05L1.49997 -4.58971e-07L1.50004 4.87322L9.12873 4.87329L6.16652 2.12355L7.22714 1.139L12 5.56948L7.22713 10L6.16652 9.01545L9.12876 6.26566L7.60201e-05 6.26559Z" fill="currentColor" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="d-flex align-items-center gap-2">
                    <div class="icon-social">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="18"
                           height="13"
                           viewBox="0 0 18 13"
                           fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0322 0.388283C16.8071 0.602295 17.4162 1.23059 17.6237 2.03009C17.9985 3.47775 18 6.49997 18 6.49997C18 6.49997 18 9.52214 17.6237 10.9698C17.4162 11.7694 16.8071 12.3977 16.0322 12.6116C14.6291 13 8.99997 13 8.99997 13C8.99997 13 3.37092 13 1.96772 12.6116C1.1928 12.3977 0.583804 11.7694 0.376354 10.9698C-3.83173e-08 9.52214 0 6.49997 0 6.49997C0 6.49997 -3.83173e-08 3.47775 0.376354 2.03009C0.583804 1.23059 1.1928 0.602295 1.96772 0.388283C3.37092 1.18595e-07 8.99997 0 8.99997 0C8.99997 0 14.6291 1.18595e-07 16.0322 0.388283ZM11.8751 6.50027L7.19879 9.2855V3.71499L11.8751 6.50027Z" fill="currentColor" />
                      </svg>
                    </div>
                    YouTube
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="12"
                       height="10"
                       viewBox="0 0 12 10"
                       fill="none">
                    <path d="M7.60201e-05 6.26559L0 2.03894e-05L1.49997 -4.58971e-07L1.50004 4.87322L9.12873 4.87329L6.16652 2.12355L7.22714 1.139L12 5.56948L7.22713 10L6.16652 9.01545L9.12876 6.26566L7.60201e-05 6.26559Z" fill="currentColor" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-10 align-self-end">
          <div class="d-flex flex-wrap align-items-end gap-3 gap-md-5 mb-50">
            <div class="footer-3-hours text-white">
              <span class="d-block fz-font-md opacity-50">Mon - Sun</span>
              <p class="h5 fw-400 common-white mb-0">24/7 Support</p>
            </div>
            <br />
            <div class="sale-off">PRINTING NETWORK</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 me-auto">
          <div class="d-flex flex-column gap-3">
            <span class="d-block fz-font-label neutral-0 opacity-50 text-uppercase">GET IN TOUCH</span>
            <p class="h6 text-white mb-2 fw-medium">
              <a href="tel:+254712345678" class="text-white text-decoration-none">+254 712 345 678</a>
            </p>
            <p class="h6 text-white mb-2">
              <a href="mailto:support@cyberconnect.cloud"
                 class="text-white text-decoration-none">support@cyberconnect.cloud</a>
            </p>
          </div>
          <div class="d-flex flex-column gap-3 mt-60">
            <span class="d-block fz-font-label neutral-0 opacity-50 text-uppercase">LOCATION</span>
            <p class="h6 text-white mb-2">
              <a href="#" class="text-white text-decoration-none">
                Ruiru, Kiambu County
                <br />
                Kenya
              </a>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex flex-column justify-content-between">
          <div class="at-footer-widget alt-footer-link-item-wrap row">
            <span class="d-block fz-font-label neutral-0 opacity-50 text-uppercase mb-3">QUICK LINKS</span>
            <div class="alt-footer-link-item col-6">
              <ul>
                <li class="mb-15">
                  <a role="button">Home</a>
                </li>
                <li class="mb-15">
                  <a role="button">How It Works</a>
                </li>
                <li class="mb-15">
                  <a role="button">Find Cybercafes</a>
                </li>
                <li class="mb-15">
                  <a role="button">Services</a>
                </li>
                <li class="mb-15">
                  <a role="button">Support</a>
                </li>
              </ul>
            </div>
            <div class="alt-footer-link-item col-6">
              <ul>
                <li class="mb-15">
                  <a role="button">FAQ</a>
                </li>
                <li class="mb-15">
                  <a role="button">Privacy</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row p-relative">
            <div class="col-4 ms-auto">
              <div class="at-about-svg-wrap">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="57"
                     height="91"
                     viewBox="0 0 57 91"
                     fill="none">
                  <path opacity="0.1" d="M0 0L56.4024 33.572V90.336L0 56.46V0Z" fill="#515151" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="113"
                     height="68"
                     viewBox="0 0 113 68"
                     fill="none">
                  <path opacity="0.3" d="M0 33.876L56.4024 0L112.805 33.876V34.1294L56.4024 68.0054L0 34.1294V33.876Z" fill="#515151" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="57"
                     height="91"
                     viewBox="0 0 57 91"
                     fill="none">
                  <path opacity="0.2" d="M56.4009 0L8.7738e-05 33.5367V90.2413L56.4009 56.4008V0Z" fill="#515151" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Divider -->
      <div class="footer-3-border pt-40 pb-40">
        <div class="row align-items-end">
          <div class="col-12">
            <div class="at-footer-widget alt-footer-link-item-wrap border-top-opacity pt-4">
              <div class="alt-footer-link-item mb-0 pb-0">
                <ul class="d-flex flex-wrap align-items-center justify-content-between text-center gap-1">
                  <li>
                    <span class="fz-font-md neutral-0 opacity-50">CyberConnect © <span id="year"></span></span>
                  </li>
                  <li>
                    <a href="#" class="fz-font-md neutral-0 opacity-50">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#" class="fz-font-md neutral-0 opacity-50">Terms of Use</a>
                  </li>
                  <li>
                    <a href="#" class="fz-font-md neutral-0 opacity-50">Refund Policy</a>
                  </li>
                </ul>
              </div>
              <h2 class="footer-3-connect-title pt-0 mt-0 fw-900 fz-170 text-white mb-0 text-scale-anim text-center d-flex flex-column align-items-center justify-content-center py-4">
                CYBERCONNECT
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
